<div class="row" style="background-color:black; height:60px;">
            <div class="col-12 mt-3 mx-auto">
                <ul class="text-light">
                     <li  style="float:left; position:relative; display:block;width:200px;color:white;"><a href="@Url.Action("QuanLyLoai","QuanLy")" style="color:white;">LOẠI</a></li>
                     <li  style="float:left; position:relative; display:block;width:200px;color:white;"><a href="@Url.Action("QuanLySanPham","QuanLy")" style="color:white;">SẢN PHẨM</a></li>
                     <li  style="float:left; position:relative; display:block;width:200px;color:white;"><a href="@Url.Action("QuanLyHoaDon","QuanLy")" style="color:white;">HÓA ĐƠN</a></li>
                     <li  style="float:left; position:relative; display:block;width:200px;color:white;"><a href="@Url.Action("QuanLyChiTietHD","QuanLy")" style="color:white;">CHI TIẾT HÓA ĐƠN</a></li>
                </ul>
             </div>

</div>