@{
    ViewBag.Title = "QuanLy";
    Layout = "~/Views/Shared/_LayoutPageQuanLy.cshtml";
}

<h2>DANH SÁCH CHI TIẾT HÓA ĐƠN</h2>
<div>
    @Html.Action("DanhMucPartial", "QuanLy")
    @Html.Action("CTHoaDonPartial", "QuanLy")
</div>