<span style="float:left">
   <a href="@Url.Action("GioHang","GioHang")" style="float:left; color:white">
        <img src="~/img/Cart1.png" style="width:100%; color:white" />(@ViewBag.TongSoLuong)
    </a>
</span>
